/%backup%~
.cache
.hg
/.mc-lists.el
/.org-id-locations
auto-save-list
backup
/diary
epla
elpa
eshell
/forge-database.sqlite
games
/history
jabber-avatar-cache
/logview-cache.extmap
/network-security.data
/places
/plantuml.jar
/projectile-bookmarks.eld
/projectile.cache
request
/session.*
/tramp
url
var
/el-get/packages
*.elc
/README.md
/README.el
transient/
el-get/.loaddefs.el
el-get/.status.el
el-get/ahg/
lisp/org-gantt/
*~
recentf
org-gcal
elpy
elpa.26
/.dap-breakpoints
/.lsp-session-v1
/.org-generic-id-locations
/.org-generic-id-locations.orig
/annotations
/code-review-db-file.sqlite
/code-review-error.log
/eln-cache/
/emojis/
forge-database*
/image-dired/
/org-gtasks/
/org-roam.db
/quelpa/
/tutorial/
/lisp/code-review/
/lisp/intuitive-tab-line-mode/
/lisp/lsp-bridge/
/lisp/org-cv/
/lisp/org-gtasks/
/lisp/moldable-emacs/
.aider*
.stfolder
/.stignore
/README.html
/edraw-ui-state.config
/newsticker/
/straight/
/projects
/plantuml-1.2025.0.jar
/lisp/code-review.gitinfo
/lisp/combobulate/
/lisp/el-easydraw/
/lisp/intuitive-tab-line-mode.gitinfo
/lisp/lsp-bridge.gitinfo
/lisp/moldable-emacs.gitinfo
/lisp/org-cv.gitinfo
/lisp/org-gtasks.gitinfo
/lisp/pgmacs/
/basic.ics
/plantuml-1.2025.2.jar
/tree-sitter/
