/%backup%~
.cache
.hg
/.mc-lists.el
/.org-id-locations
auto-save-list
backup
/diary
epla
elpa
eshell
/forge-database.sqlite
games
/history
jabber-avatar-cache
/logview-cache.extmap
/network-security.data
/places
/plantuml.jar
/projectile-bookmarks.eld
/projectile.cache
request
/session.*
/tramp
url
var
/el-get/packages
*.elc
